@model List<Tsakaty.Models.Task>

@{
    ViewData["Title"] = "Index";
}

<h1>Welcom @User.Identity.Name</h1>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                <h5>User</h5>
            </th>
            <th>
                <h5>Title</h5>
            </th>
            <th>
                <h5>Description</h5>
            </th>
            <th>
                <h5>Date Time</h5>
            </th>
            
            <th></th>
        </tr>
    </thead>
 @if(Model!=null)
    {
        <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <p>@item.UserId</p>
            </td>
            <td>
                <p>@item.Title</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateTime)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Update" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                
            </td>
        </tr>
        }
        </tbody>
    }
    else
    {
            <p>No tasks found for this user.</p>
    }

</table>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back</a>
<a asp-action="Create" class="btn btn-primary">Create New</a>
